<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tumblr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3EAD4321E42AB1D002F9341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3EAD4461E42AB1F002F9341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3EAD4511E42AB1F002F9341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
